<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body ng-app="localforage.photos" ng-controller="PhotosController as vm">

    <input type="text" ng-model="vm.newPhoto.caption" placeholder="Caption" />
    <input type="file" ng-file-select ng-model="vm.newPhoto.files" ng-multiple="false" accept="image/*" />
    <button ng-click="vm.savePhoto()" ng-disabled="!vm.newPhoto.files || !vm.newPhoto.files.length">Save</button>

    <div>
        Mode: {{ vm.driver }}
    </div>
    

    <div ng-repeat="photo in vm.savedPhotos track by photo.id">
        <hr />
        <div>
            <img ng-src="{{ 'data:' + photo.type + ';base64,' + photo.photo }}" style="width: 200px;" />
        </div>
        {{ photo.name }}
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/localforage/1.2.0/localforage.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
    <script src="scripts/angular-file-upload.js"></script>
    <script src="scripts/app.js"></script>
</body>
</html>
