<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Test saving photos in LocalForage</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.7/angular.js"></script>
</head>
<body ng-app="localforage.photos" ng-controller="PhotosController as vm" ng-cloak>

    <input type="text" ng-model="vm.newPhoto.caption" placeholder="Caption" />
    <input type="file" ng-file-select ng-model="vm.newPhoto.files" ng-multiple="false" accept="image/*" />
    <button ng-click="vm.savePhoto()" ng-disabled="!vm.newPhoto.files || !vm.newPhoto.files.length">Save to {{ vm.getCurrentStorageMode() }}</button>


    <div>
        <hr />
        <div ng-repeat="photo in vm.savedPhotos | orderBy: 'id' track by photo.id" style="max-width: 300px; margin: 12px; display: inline-block; overflow: hidden; vertical-align: top;">
            <div>
                <img ng-src="{{ 'data:' + photo.type + ';base64,' + photo.photo }}" style="max-width: 300px; max-height: 300px;" />
            </div>
            <div>{{ photo.caption }}</div>
            <div>
                <button ng-click="vm.deletePhoto(photo)">x</button>
                <div style="color: lightgray; display: inline;">{{ photo.name }}</div>
            </div>
        </div>
    </div>

    <button ng-click="vm.uploadPhotos()">Upload</button>

    <script src="//cdnjs.cloudflare.com/ajax/libs/localforage/1.2.0/localforage.js"></script>
    <script src="scripts/angular-file-upload.js"></script>
    <script src="scripts/app.js"></script>
</body>
</html>
